* {
  padding: 0;
  margin: 0;
  font-family: "Avenir", "Avenir Next", sans-serif;
}

.edit-container {
  width: 90%;
  margin: 2rem auto;
  align-items: center;
}
.edit-label {
  font-size: 1.2rem;
  font-weight: 900;
  color: #4a4747;
}
.edit-head {
  color: #1e90ff;
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
  margin-bottom: 2rem;
}
.left-td {
  color: #999;
}
.left-td i {
  font-size: 1rem;
  color: #999;
}
.edit-input {
  border: 1px solid black;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.edit-check-box {
  display: flex;
  justify-content: left;
  width: 20%;
}
.edit-check-box span {
  font-size: 1.1rem;
  font-weight: 500;
}
.edit-check-box input {
  font-size: 1rem;
  margin-top: 5px;
  margin-left: 5px;
}

.share-tab {
  display: flex;
  justify-content: right;
  gap: 1rem;
  margin-top: 1rem;
}
.share-tab button {
  width: 100px;
  padding: 0.5rem;
  color: white;
  background-color: #0070c0;
  border-radius: 5px;
}
.div-button {
  display: flex;
  justify-content: right;
  gap: 1rem;
}
.div-button button {
  width: 100px;
  padding: 0.5rem;
  color: white;
  background-color: #0070c0;
  border-radius: 5px;
}
.div-edit-slider {
  width: 100%;
  margin: 1rem auto;
}
.inner-edit-slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.inner-edit-slider label {
  text-align: left;
  width: 25%;
}
.input-edit-slider {
  width: 40%;
  margin-left: 5rem;
}
.div-goal select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid black;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 2rem;
}

.div-goal select:focus {
  border-color: #0077cc;
}

.left-check {
  font-size: 3rem;
}

.table1-container {
  width: 90%;
  color: black;
  border-radius: 12px;
  overflow: hidden;
  padding: 1.2rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-right: 5rem;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}
.th-head {
  font-size: 1.4rem;
  font-weight: 900;
}

.edit-td td {
  font-size: 1rem;
  font-weight: 700;
}
.div-button {
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .edit-container {
    width: 90%;
  }
  .table1-container {
    width: 100%;
  }
  .th-head,
  .edit-td td {
    padding: 12px;
    font-size: 15px;
  }
  .edit-td td {
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .edit-container {
    width: 80%;
  }
}
