* {
  padding: 0;
  margin: 0;
  font-family: "Avenir", "Avenir Next", sans-serif;
}
.spacer {
  height: 4rem;
}
.container {
  width: 90%;
  margin: 2rem auto;
  align-items: center;
}
label {
  font-size: 1.1rem;
  font-weight: 800;
  color: #4a4747;
}
.head {
  color: #1e90ff;
  font-size: 2rem;
  font-weight: 800;
  text-align: left;
  margin-bottom: 2rem;
}
.left-td {
  color: #999;
}
.left-td i {
  font-size: 1rem;
  color: #999;
}
input {
  border: 1px solid black;
  padding: 0.5rem;
  width: 100%;
  /* border-radius: 10px; */
  margin-bottom: 1.5rem;
}
.btn button {
  width: 120px;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}
.check-box {
  display: flex;
  /* justify-content: start; */
  /* margin-right: rem; */
  justify-content: left;
  width: 20%;
  /* padding: 17px; */
  /* margin-right: 60rem; */
}
.check-box span {
  font-size: 1.1rem;
  font-weight: 500;
}
.check-box input {
  font-size: 1rem;
  margin-top: 5px;
  margin-left: 5px;
}

.plus {
  display: flex;
}
.btn-plus {
  width: 40px;
  margin-left: 0.5rem;
  background-color: #4a4747;
  color: white;
  font-size: 1.5rem;
}
.div5 {
  display: flex;
  justify-content: right;
  gap: 1rem;
}
.div5 button {
  width: 100px;
  padding: 0.5rem;
  color: white;
  background-color: #0070c0;
  border-radius: 5px;
}
.div3 {
  width: 100%;
  margin: 1rem auto;
}
.inner-slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* padding: 2rem; */
  /* align-items: center; */
}

inner-slider label {
  text-align: left;
  width: 25%;

  /* margin-right: 3rem; */
}
#input-slider {
  width: 40%;
  margin-left: 5rem;
  /* margin-top: 9px; */
  /* padding-top: 20px; */
}
/* .inner-slider {
  padding: 1rem;
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between;
} */
.img {
  margin-top: 1rem;
}
.img img {
  width: 100%;
  border-radius: 10px;
}

.div2 select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid black;
  /* border-radius: 10px; */
  outline: none;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 2rem;
}

.div2 select:focus {
  border-color: #0077cc;
}

#goal-input-container {
  margin-top: 10px;
}

#goal-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #00b0f0;
  /* border-radius: 5px; */
  outline: none;
}

#goal-input::placeholder {
  color: #999;
}
.div4 select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid black;
  /* border-radius: 10px; */
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.div4 select:focus {
  border-color: #0077cc;
}

.plus {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.plus input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  /* border: 1px solid black; */
  border-radius: 10px;
  outline: none;
}

.plus input::placeholder {
  color: #999;
}

.btn-plus {
  padding: 10px 12px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #4a4747;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}
.par-div {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.left-check {
  font-size: 3rem;
}
.img img {
  filter: blur(5px);
}

.table-container {
  width: 80%;
  /* max-width: 800px; */
  /* background: #0168ab; */
  color: black;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-right: 5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  font-size: 1.4rem;
  font-weight: 900;
}
th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  color: #494747;
}

th {
  background: rgba(255, 255, 255, 0.3);
}

tr:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: 0.3s ease-in-out;
}

td {
  font-size: 1rem;
  font-weight: 700;
  /* text-align: left; */
}
.div5 {
  margin-top: 2rem;
}
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .table-container {
    width: 100%;
  }
  th,
  td {
    padding: 12px;
    font-size: 15px;
  }
  td {
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
  .btn button {
    width: 110px;
  }
}
